[Unit]
Description=Time Lapse Web Viewer Service through Python
After=multi-user.target

[Service]
Type=simple
User=root
Restart=always
WorkingDirectory=/home/pi/rpitimelapse
ExecStart=/usr/bin/python3 /home/pi/rpitimelapse/web_service.py

[Install]
WantedBy=multi-user.target
