<!DOCTYPE html>
<form action="/data" method="POST">
    <p>
        View a timelapse of the last:
    </p>
    <p>
        <input type="submit" value="Now" name="duration" />
        <input type="submit" value="1 Hour" name="duration" />
        <input type="submit" value="12 Hours" name="duration" />
        <input type="submit" value="1 Day" name="duration" />
        <input type="submit" value="7 Days" name="duration" />
        <input type="submit" value="30 Days" name="duration" />
        <input type="submit" value="100 Days" name="duration" />
    </p>
    <p>
        <input type="number" name="duration" /> hours
        <input type="submit" value="Submit" />
    </p>
    <p>
        Go to
        <a href="/light"> LED Controls</a>
    </p>
</form>